/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "./font";

$white: #fefefe;
$smoke: #f1f3f5;
$silver-grey: #efefef;
$silver: #cccccc;
$seashell: #f1f1f1;
$charcoal: #345;
$parpel: #745fb5;
$dark-parpel: #4f3d85;
$dark-green-blue: #26648e;
$green: #14af83;
$cloud: #9eaab6;

body {
  margin: 0;
  padding: 0;
  background-color: $smoke;
  color: $charcoal;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  display: flex;
  justify-content: center;
 
  .content-body {
    width: 860px;
  }

  h1 {
    font-weight: 200;
    font-size: 3rem;
    line-height: 3rem;
    vertical-align: center;
    padding-bottom: 2rem;
  }

  em {
    font-style: normal;
    color: $cloud;
    margin-left: 1rem;
  }

  h2 {
    color: $parpel;
    font-weight: 400;
    margin-left: .1rem;
  }
}

.card {
  border-radius: 2px;
  box-shadow: 0 6px 8px rgba(102, 119, 136, 0.03), 0 1px 2px rgba(102, 119, 136, 0.3), 0 8px 12px rgba(58, 193, 203, 0.1);
}

.nav {
  padding-top: 16px;
  padding-bottom: 16px;
  background: #f8f9fa;
  border-top: solid 1px rgba(102, 119, 136, 0.2);
  border-bottom: solid 1px rgba(102, 119, 136, 0.2);
  list-style:none;
  margin: 0px;

  li {
    display: inline-flex;
    
    
    a {
      text-decoration: none;
      padding: 1rem;

      &:hover {
        background: $charcoal; 
      }
    }
  }
}

form {
  margin: 1rem;
  width: 100%;

  legend {
    margin-top: 1rem;
  }

  input {
    width: 90%;
    height: 4rem;
    margin-bottom: .5rem;
    transition: background 85ms ease-in,border-color 85ms ease-in;
    border: none;
    border-bottom: 1px solid $silver;
    padding: 0 1rem;
  }

  input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: red !important;
  }

  textarea:focus, input:focus {
    outline: none;
    border-bottom: 1px solid $parpel;
  }

  input:focus {
    background-color: $white !important;
  }

  button {
    //background-color: #61bd4f;
    background-color: $dark-parpel;
    min-width: 10rem;
    border-radius: 2px;
    padding: .5rem 1rem;
    border: none;
    color: #fefefe;
    font-weight: 600;
    font-size: 14px;
    margin-right: 1rem;
    margin-top: 1rem;
  }
}
